# Renomeie este arquivo para secrets.yaml e preencha os valores

wifi_ssid: "sua_rede"
wifi_password: "sua_senha"

api_key: "gere_uma_chave_aqui"
ota_password: "gere_uma_senha_aqui"

# (opcional) outras chaves futuras
